@import url("../fonts/Gilroy_fonts/stylesheet.css");
ul,
li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

a:hover {
  text-decoration: none;
}

* html .clearfix {
  height: 1%;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a,
label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.ease,
a,
input[type="submit"],
button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.relative {
  position: relative;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-div {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.hori-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bg-common {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.relative, .rel {
  position: relative;
}

.absolute, .abs {
  position: absolute;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.btn-primary {
  background: #15191b;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 1px solid #15191b;
  padding: 15px 20px;
  width: 200px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  text-transform: uppercase;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary {
  background: transparent;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 1px solid #fff;
  padding: 15px 20px;
  width: 200px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  text-transform: uppercase;
}

.btn-teritiary {
  background: #fff;
  color: #15191b;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 3px solid #15191b;
  padding: 15px 20px;
  width: 200px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  text-transform: uppercase;
}

.z-top {
  position: relative;
  z-index: 80;
}

.change_header_bg {
  background: rgba(0, 0, 0, 0.8);
}

.main_header_bg {
  background-color: transparent;
}

.active_bg {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
}

.active_bg .navbar-brand img {
  border: 1px solid #fff;
}

.section_padding {
  padding: 100px 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #15191b;
}

.navbar-toggler {
  display: block;
  padding: 27px 19px;
  width: 18px;
  height: 2px;
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-clip: content-box;
  -webkit-transition: background-color 500ms ease-in-out 250ms;
  transition: background-color 500ms ease-in-out 250ms;
  background-color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-toggler:hover {
  cursor: pointer;
}

.navbar-toggler:before, .navbar-toggler:after {
  position: relative;
  content: '';
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.navbar-toggler:before {
  top: -6px;
}

.navbar-toggler:after {
  bottom: -4px;
}

.navbar-toggler__text {
  display: none;
}

.navbar-toggler--active {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar-toggler--active:before {
  -webkit-transform: translateY(6px) rotate(-225deg);
          transform: translateY(6px) rotate(-225deg);
}

.navbar-toggler--active:after {
  -webkit-transform: translateY(-6px) rotate(225deg);
          transform: translateY(-6px) rotate(225deg);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1030;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar {
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-brand {
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-brand img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-nav li.active a:before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 35px;
  background: #fff;
}

header .navbar .navbar-nav li.active a:after {
  content: '';
  position: absolute;
  top: -12px;
  right: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

header .navbar .navbar-nav li:not(:last-child) {
  margin-right: 50px;
}

header .navbar .navbar-nav li a {
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hero-section {
  min-height: 100vh;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #15191b;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.hero-section .hero-caption h1 {
  font-family: "gilroyextrabold";
  font-size: 100px;
  color: #fff;
}

.hero-section .hero-caption p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 300;
}

.hero-section .hero-caption .hero-buttons {
  margin-top: 50px;
}

.about_us_section .profile_cont:after {
  content: '';
  height: 407px;
  width: 374px;
  border: 20px solid #15191b;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  bottom: -55px;
  right: 59px;
  z-index: -1;
}

.about_us_section .profile_cont .my_img {
  height: 407px;
  width: 374px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.about_us_section .profile_cont .my_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: top;
          transform-origin: top;
  -o-object-position: center top;
     object-position: center top;
}

.about_us_section .about_me h1 {
  font-family: "gilroy-bolduploaded_file";
  font-size: 54px;
  margin-bottom: 20px;
}

.about_us_section .about_me p {
  font-size: 18px;
}

.about_us_section .about_me a:hover {
  color: #fff;
  background: #15191b;
}

.technical_skill {
  min-height: 890px;
  background-attachment: fixed;
}

.technical_skill:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #15191b;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.technical_skill .common_header {
  margin-bottom: 100px;
}

.technical_skill .common_header h1, .technical_skill .common_header p {
  color: #fff;
}

.technical_skill ul {
  padding: 0 100px 50px;
}

.technical_skill ul.owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 40%;
  width: 100%;
  left: 0;
}

.technical_skill ul.owl-carousel .owl-nav .owl-prev, .technical_skill ul.owl-carousel .owl-nav .owl-next {
  color: #fff;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 3px solid #fff;
}

.technical_skill ul.owl-carousel .owl-nav .owl-prev i, .technical_skill ul.owl-carousel .owl-nav .owl-next i {
  font-size: 30px;
}

.technical_skill ul.owl-carousel .owl-nav .owl-prev {
  margin-left: -10%;
}

.technical_skill ul.owl-carousel .owl-nav .owl-next {
  margin-right: -10%;
}

.technical_skill ul.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  bottom: -75px;
  left: 0;
}

.technical_skill ul.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  margin: 0 .5rem;
}

.technical_skill ul.owl-carousel .owl-dots .owl-dot.active {
  background: #fff;
  border: 1px solid #fff;
}

.technical_skill ul li .skill_card {
  border: 1px solid #fff;
  min-height: 360px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technical_skill ul li .skill_card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 190px;
  margin-bottom: 20px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.technical_skill ul li .skill_card h2 {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;
}

.common_header {
  max-width: 550px;
  margin: 0 auto 100px;
}

.common_header h1 {
  font-family: "gilroyextrabold";
  margin-bottom: 20px;
  font-size: 51px;
}

.common_header p {
  font-size: 18px;
  font-weight: 300;
}

.projects_section {
  overflow: hidden;
}

.projects_section .filter-group ul.list-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.projects_section .filter-group ul.list-filter > li {
  margin: 0 10px;
}

.projects_section .filter-group ul.list-filter > li > a {
  color: #434e5e;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: 200px;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #15191b;
  text-align: center;
}

.projects_section .filter-group ul.list-filter > li > a:hover {
  background-color: #e6e9ed;
}

.projects_section .filter-group ul.list-filter > li.active > a {
  background-color: #15191b;
  color: #fff;
}

.projects_section .projects .card-group .card {
  border: none;
  padding: 0 25px;
  margin-bottom: 50px;
}

.projects_section .projects .card-group .card .body-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.projects_section .projects .card-group .card .body-card:hover .overlay-content {
  opacity: 1;
  pointer-events: all;
}

.projects_section .projects .card-group .card .body-card:hover .project-logo {
  opacity: 0;
}

.projects_section .projects .card-group .card .body-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #15191b;
  opacity: 0.6;
}

.projects_section .projects .card-group .card .body-card .project-img {
  height: 438px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.projects_section .projects .card-group .card .body-card .project-logo {
  position: absolute;
  z-index: 10;
  height: 200px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects_section .projects .card-group .card .body-card .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects_section .projects .card-group .card .body-card .overlay-content h1 {
  font-family: "gilroyextrabold";
  font-size: 30px;
  text-transform: uppercase;
  color: #15191b;
  margin-bottom: 30px;
  line-height: 1.5;
}

.projects_section .projects .card-group .card .body-card .overlay-content a {
  border: 1px solid #15191b;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #15191b;
}

.projects_section .projects .card-group .card .body-card .overlay-content a:hover {
  color: #fff;
  background: #15191b;
}

.contact-section {
  background-color: #15191b;
  padding: 100px 0;
}

.contact-section .common_header h1, .contact-section .common_header p {
  color: #fff;
}

.contact-section .my-map iframe {
  width: 100%;
  height: 255px;
  border-radius: 5px;
}

.contact-section .my-info .row-info {
  margin-bottom: 20px;
}

.contact-section .my-info .row-info h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.contact-section .my-info .row-info h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  word-break: break-all;
}

.contact-section .my-info .row-info p, .contact-section .my-info .row-info a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  max-width: 350px;
  line-height: 1.8;
  margin-top: -4px;
}

.contact-section .my-info .row-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .my-info .row-info ul li {
  margin-right: 15px;
}

.contact-section .my-info .row-info ul li a i {
  font-size: 25px;
}

.contact-section .my-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  height: 100%;
  border-radius: 5px;
}

.contact-section .my-form .col-form {
  padding: 0 10px;
}

.contact-section .my-form .form-group {
  margin-bottom: 25px;
}

.contact-section .my-form .form-group.submit input {
  background: #15191b;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.contact-section .my-form .form-group h1 {
  font-size: 18px;
  font-weight: 600;
  color: #15191b;
  margin-bottom: 6px;
}

.contact-section .my-form .form-group input {
  height: 40px;
  width: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #15191b;
}

.contact-section .my-form .form-group input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group textarea {
  height: 151px;
  width: 100%;
  border: none;
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #15191b;
}

.contact-section .my-form .form-group textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group textarea::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

.contact-section .my-form .form-group textarea::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #abacac;
}

footer {
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 13px;
  font-weight: 600;
  color: #15191b;
}
/*# sourceMappingURL=main.css.map */